header {
    background: linear-gradient(#e83e8c,#ff512f);
    height: 100vh;
}
.bxs-book-reader {
    font-size: 40px;
}
.menu {
    justify-content: flex-start;
    align-items: center;
    
}
.menu ul li {
    padding: 15px;
}
.logo-nav {
    flex-basis: 15% ;
    text-align: right;
}
.nav-empty {
    flex-basis: 45%;
}
.nav-container a {
    color: white;
}
.logo-nav :hover {
    color: blue;
    cursor: pointer;
}
/* Exciting adventure */
.content-promotion {
    text-align: center;
    margin: auto 0;
    
}
.content-promotion h1 {
    font-size: 60px;
    line-height: 60px;
    
}
.content-promotion h4 {
    line-height: 60px;
}
.content-promotion p {
    margin-top: 35px;
    margin-bottom: 20px;
}
.btn-buy {
    font-size: 20px;
    padding: 5px 30px 9px 30px;
    border-radius: 25px;
    /* background-color: black; */
    border: none;
    text-align: center;
}
.btn-buy:focus {
    border: 2px solid gray ;
    transition: 0.75s;
    
}
.promotion-img img{
    display: inline;
    text-align: center;
    width: 414px;
    height: 521px;
    margin-left: 50px;
    margin-top: 30px;
    
}

/* section 1 */
#section-one {
    padding: 20vmin 0vmin;
}
#section-one .row .col-md-6 img {
    opacity: 0.8;
    width: 80%;
    border-radius: 5px;
}
#section-one .row .col-md-6:last-child {
    position: relative;
}
#section-one .row .col-md-6 .panel {
    position: absolute;
    background: white;
    border-radius: 3px;
    text-align: left;
    box-shadow: 0px 25px 42px black;
    z-index: 1;
    top: 7vmin;
    left: -18vmin;
    padding: 13vmin 5vmin 20vmin 10vmin;
}

/* section2 */
#section-2 {
    background-image: url(hinhthoi/happy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    opacity: 0.5;
    text-align: center;
    color: white;
}
